*{
  margin: 0;padding: 0;box-sizing: border-box;color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
  background: #000;
  /* height: 100vh; */
  width: 100%;
}
section{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* gap: 0%; */
}
.p{
  position: relative;
  display: inline-block;
  /* width: 500px;
  height: 8vh; */
  /* background-color: red; */
  overflow: hidden;
}
.c{
  background-color: yellowgreen;
  display: inline-block;
  width: 100%;
  height: 8.3vh;
  position: absolute;
  top:-.7vh;
  left: 0%;
  /* z-index: -1; */
}
.ss{
  width: 100%;
  height:70vh ;background-color: rgba(240, 255, 255, 0.287);
}